<div class="container">
  <div class="card-deck">
	<div class="row">

		<div class="col-sm-3">
			<div class="card h-70">
				<%= image_tag 'chees.jpg', class:"card-img-top img-thumbnail"%>
				<div class="card-body">
					<h2 class="card-title">タイトル1</h2>
					<p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
					<p class="card-text bu"><a href="#">リンクテキスト</a></p>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="card h-70">
				<%= image_tag 'chees.jpg', class:"card-img-top img-thumbnail" %>
				<div class="card-body">
					<h2 class="card-title">タイトル2</h2>
					<p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
					<p class="card-text bu"><a href="#">リンクテキスト</a></p>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="card h-70">
				<%= image_tag 'chees.jpg', class:"card-img-top img-thumbnail" %>
				<div class="card-body">
					<h2 class="card-title">タイトル3</h2>
					<p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
					<p class="card-text bu"><a href="#">リンクテキスト</a></p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
			<div class="card h-70">
				<%= image_tag 'chees.jpg', class:"card-img-top img-thumbnail" %>
				<div class="card-body">
					<h2 class="card-title">タイトル3</h2>
					<p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
					<p class="card-text bu"><a href="#">リンクテキスト</a></p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
			<div class="card h-70">
				<%= image_tag 'chees.jpg', class:"card-img-top img-thumbnail" %>
				<div class="card-body">
					<h2 class="card-title">タイトル3</h2>
					<p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
					<p class="card-text bu"><a href="#">リンクテキスト</a></p>
				</div>
			</div>
		</div>

	</div>
</div>
</div>