
<dev calss='container'>
  <div class='row'>
    <div class="col-md-3 mx-auto">
      <div class="list-group">
          <table class="table table-bordered genre-table bg-white rounded shadow">
            <thead>
              <tr>
                <th>ジャンル検索</th>
              </tr>
            </thead>
            <tbody>
              <% @product_categories.each do |product_category| %>
                <tr>
                  <td>
                    <%= link_to product_category.name, search_path('search[value]': product_category, 'search[how]': "match")%>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
      </div>
    </div>
    <div class="col-md-8 mx-auto my-5">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 my-auto">
            <%= attachment_image_tag @product, :image,class:"img-fluid" %>
          </div>
          <div class=class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= @product.title %></h5>
              <p class="card-text"><%= @product.description %></p>

                <% if @product.sell_status == false %>
               <h5 class="card-price"><%= @product.price %>円</h5>
              <% else %>
               <p class="text-danger">売り切れ中</p>
              <% end %>
              <% if @product.sell_status == false %>
                <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.hidden_field :customer_id, value: current_customer.id %>
                <%= f.select :quantity, [1,2,3,4,5,6,7,8,9], {include_blank: '選択ボックス'} , required:true %>
                <%= f.submit "カートに入れる", class:"btn btn-success" %>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>