<div class="container mx-auto">
  <div class="text">
    <div class="col-md-8 order-md-1">
      <div class="align-items-center p-3 my-3 bg-purple rounded shadow-sm">
        <h1 class="h3 mb-0 font-weight-normal">新規登録</h1>
      </div>
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row">
          <div class="col-md-6 mb-3">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-md-6 mb-3">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <%= f.label :last_name_kana %>
            <%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-md-6 mb-3">
            <%= f.label :first_name_kana %>
            <%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "youremail@example.com", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :address %>
          <%= f.text_field :address, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success btn-lg btn-block" %>
        </div>
        <%= link_to "ログインする", new_customer_session_path %>
      <% end %>
    </div>
  </div>
</div>
