<div class="container">
  <div class="row d-flex align-items-center mx-auto my-auto justify-content-center">
    <div class="col-md-11 shadow p-3 mb-5 bg-white rounded">
      <div class="container">
        <div class="text-center mt-2 mb-3 border-bottom">
          <h1 class="mb-0"><strong>注文履歴詳細</strong></h1>
        </div>
      </div>
      <div calss='container'>
        <div class='row d-flex align-items-center mx-auto my-auto justify-content-center'>
          <div class="col-md-12 shadow-sm p-2 mb-3 bg-white rounded">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="col"><strong>購入者</strong></th>
                  <td scope="col" colspan="2">
                    <%= @order.name %>
                    </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th scope="row"><strong>注文日</strong></th>
                  <td colspan="2">
                    <%= @order.created_at.strftime("%Y/%-m/%-d")%>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th scope="row"><strong>配送先</strong></th>
                  <td colspan="2">
                    <%= @order.postal_code %></br>
                    <%= @order.address %>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th scope="row"><strong>支払い方法</strong></th>
                  <td colspan="2">
                    <% if @order.payment_method == true %>
                      <p>クレジットカード</p>
                    <% elsif @order.payment_method == false %>
                      <p>銀行支払</p>
                    <% end %>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th scope="row"><strong>注文ステータス</strong></th>
                  <%= form_with model: @order, url: admin_order_path, method: :patch, local:true do |f| %>
                  <td scope="row">
                  <%= f.select :status, Order.statuses.keys %>
                  </td>
                  <td><%= f.submit "更新" , class: "btn btn-outline-success" %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div calss='container'>
        <div class='row d-flex align-items-center'>
          <div class="col-md-9 mx-auto">
            <table class="table rounded shadow-sm p-3 bg-w">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <strong>商品名</strong>
                </th>
                <th scope="col">
                  <strong>単価（税込）</strong>
                </th>
                <th scope="col">
                  <strong>数量</strong>
                </th>
                <th scope="col">
                  <strong>小計</strong>
                </th>
                <th scope="col">
                  <strong>制作ステータス</strong>
                </th>
                <th></th>
              </thead>
              <% @order_items.each do |order_item| %>
                <tbody>
                  <tr>
                    <td><%= order_item.product.title %></td>
                    <td>¥<%= order_item.product.add_tax_price.to_s(:delimited) %></td>
                    <td><%= order_item.quantity %></td>
                    <td>¥<%= order_item.sub_total.to_s(:delimited) %></td>
                    <%= form_with model: order_item, url: admin_order_item_path(order_item), method: :patch, local:true do |f| %>
                    <td>
                      <%= f.select :work_status, OrderItem.work_statuses.keys  %>
                    </td>
                    <td><%= f.submit "更新" , class: "btn btn-outline-success" %></td>
                    <% end %>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
          <div class="col-md-3 mx-auto shadow-sm rounded">
            <table class="table table-borderless">
              <tbody>
                <th class="col"><strong>商品合計</strong></th>
                <td class="col">¥<%= @order.total_price.to_s(:delimited) %></td>
              </tbody>
              <tbody>
                <th><strong>送料</strong></th>
                <td>¥<%= @order.postage %></td>
              </tbody>
              <tbody>
                <th>請求金額合計</th>
                <td>¥<%= @order.amount.to_s(:delimited) %></td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







