<div class="container">
  <div class="text-danger"><%= flash[:error] %></div>
</div>
<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-md-8 mx-auto rounded shadow my-3 bg-white">
      <h1 class="mb-0 text-center mt-3 mb-3 border-bottom"><strong>配送先登録/一覧</strong></h1>
      <%= form_with model: @shipping_address, url: shipping_addresses_path, local:true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="col"><strong>郵便番号</strong></th>
              <td scope="col"> <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %></th>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="col"><strong>住所</strong></th>
              <td scope="col"> <%= f.text_field :address, size: 60, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %></th>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="col"><strong>宛名</strong></th>
              <td scope="col"> <%= f.text_field :name, placeholder: "令和道子", class: "form-control" %></th>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th></th>
              <td scope="col" class="text-right mb-3"><%= link_to "新規登録", shipping_addresses_path, class: "btn btn-success mr-1" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <table class="table rounded shadow-sm p-3 bg-w">
        <thead class="thead-light">
          <tr>
            <th scope="col">
              <strong>郵便番号</strong>
            </th>
            <th scope="col">
              <strong>住所</strong>
            </th>
            <th scope="col">
              <strong>宛名</strong>
            </th>
            <th></th>
          </tr>
        </thead>
        <% @shipping_addresses.each do |shipping_address| %>
          <tbody>
            <tr>
              <td><%= shipping_address.postal_code %></td>
              <td><%= shipping_address.address %></td>
              <td><%= shipping_address.name %></td>
              <td>
                <%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class: "btn btn-sm btn-outline-success" %>
                <%= link_to "削除する", shipping_address_path(shipping_address.id), method: :delete, class: "btn btn-sm btn-outline-danger" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>