<% if @cart_items.blank? %>
  <h4 class="text-center">カートに商品はありません</h4>
  
<% else %>
<h4>ショッピングカート</h4>
  <%= link_to all_destroy_cart_items_path, method: :delete do %>
    <button class="btn-danger">カートを空にする</button>
  <% end %>

<table>
  <theder>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </theder>
  <% @cart_items.each do |cart_item| %>
  <tbody>
    <tr>
      <td>
        <%= attachment_image_tag cart_item.product, :image, :fill, 40,40, class:"img-fluid" %>
        <%= cart_item.product.title %>
      </td>
      <!--単価（税込）-->
      <td><%= cart_item.add_tax_price %></td>
      <!--数量変更-->
      <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
      <td>
        <%= f.select :quantity, [1,2,3,4,5,6,7,8,9], required:true %>
        <%= f.submit "変更", class: "btn btn-primary" %>
      </td>
      <% end %>
      <!--小計-->
      <td><%= cart_item.sub_tatal.to_s %></td>
      <!--商品削除-->
      <td>
        <%= link_to cart_item_path(cart_item.id), method: :delete do %>
         <button class="btn-danger">削除する</button>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<button class="btn-">
 <%= link_to "買い物を続ける", root_path %>
</button>

<!--カート内商品合計-->
<table class="table">
 <tr>
  <th>合計金額</th>
  <td>
   <%= @total.round.to_s(:delimited) %>
  </td>
 </tr>
</table>
<button>
  <%= link_to "情報入力に進む", new_order_path %>
</button>
<% end %>

