<h2>商品一覧</h2>

<% link_to new_admin_product_path do %>
　　<!--新規登録-->
<% end %>

<% @products.each do |produst| %>
 <table>
     <thead>
         <tr>
         <th>商品ID</th>
         <th>商品名</th>
         <th>税抜価格</th>
         <th>ジャンル</th>
         <th>ステータス</th>
         </tr>
     </thead>
     <tbody>
         <tr>
          <td><%= product.id %></td>
          <td>
           <% link_to admin_product_path(product.id) do %>
            <%= product.title %>
            <% end %>
          </td>
          <td><%= product.price %></td>
          <td><%= product.product_category.name %></td>
          <td><%= product.status %></td>
         </tr>
     </tbody>
 </table>
<% end %>

<%= paginate @products %>