<div class="container">
 <div class="row d-flex align-items-center mx-auto my-auto justify-content-center">
  <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
   <div class="container">
    <div class="text-center mt-4 mb-3 border-bottom">
     <h1 class="mb-0"><strong>商品詳細</strong></h1>
    </div>
    </div>
    <div calss='container'>
     <div class='row'>
      <div class="col-3 mx-4 p-2 my-5 pt-7 rounded">
       <%= attachment_image_tag @product, :image, class: "shadow-sm rounded", style: "object-fit: cover; width: 100%; height: 160px;",  fallback: "no_image.jpg" %>
      </div>
      <div class="col-7 ml-3 shadow-sm p-2 mb-5 bg-white rounded">
       <table class="table">
   　    <tbody>
         <tr>
          <th><strong>商品名</strong></th>
          <td>
           <%= @product.title %>
          </td>
         </tr>
        </tbody>
   　    <tbody>
         <tr>
          <th><strong>商品説明</strong></th>
          <td>
           <%= @product.description %>
          </td>
         </tr>
        </tbody>
       <tbody>
        <tr>
         <th><strong>ジャンル</strong></th>
         <td>
          <%= @product.product_category.name %>
         </td>
        </tr>
       </tbody>
       <tbody>
        <tr>
         <th><strong>税込価格</strong><strong>(税抜価格)</strong></th>
         <td>
          <%= @product.add_tax_price.to_s(:delimited) %> (<%= @product.price %>)円
         </td>
        </tr>
       </tbody>
       <tbody>
        <tr>
         <th><strong>販売ステータス</strong></th>
         <td>
          <% if @product.sell_status == true %>
    　　  　　<%= @product.sell_status = "販売停止中" %>
    　　  　<% else %>
   　　  　　　<%= @product.sell_status = "販売中" %>
   　　   　<% end %>
          </td>
         </tr>
        </tbody>
        <tbody>
         <tr>
          <th>
           <%= link_to "編集する", edit_admin_product_path(@product.id), class: "btn btn-success btn-lg mr-1" %>
          </th>
         </tr>
        </tbody>
       </table>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
