<div class="container">
  <div class="row d-flex align-items-center mx-auto my-auto justify-content-center">
    <div class="col-md-6 shadow p-3 bg-white rounded">
      <%= form_with model: @order, url: confirm_orders_path, method: :post, class: "new-order", local: true do |f| %>
        <h4 class="mb-3 border-bottom">支払方法</h4>
        <div class="d-block mb-3">
          <%= f.radio_button :payment_method, :true, checked: true %>
          <strong>クレジットカード</strong></br>
          <%= f.radio_button :payment_method, :false %>
          <strong>銀行支払</strong>
        </div>
        <h4 class="mb-3 border-bottom">お届け先</h4>
        <div>
          <h6 class="mb-2">
            <%= f.radio_button :address_status, 0, checked: true %>
            <strong>ご自身の住所</strong></br>
          </h6>
          <div class="col mb-3">
            〒<%= current_customer.postal_code %> <%= current_customer.address %></br>
            <%= current_customer.last_name %><%= current_customer.first_name %>
          </div>
        </div>
        <% if @shipping_addresses.present? %>
          <div>
            <h6 class="mb-2">
              <%= f.radio_button :address_status, 1 %>
              <strong>登録済住所から選択</strong></br>
            </h6>
            <div class="col mb-3">
              <%= f.collection_select(:shipping_address_id, @shipping_addresses, :id, :full_address, {prompt: "住所を選択してください" }, {class: "form_control custom-select d-block"}) %>
            </div>
          </div>
        <% else %>
          <div>
            <h6 class="mb-2">
              <%= f.radio_button :address_status, 1 %>
              <strong>登録済住所から選択</strong></br>
            </h6>
              <div class="col mb-3">
                登録先住所はありません
              </div>
          </div>
        <% end %>
        <div class="new-shipping-address-box">
          <h6 class="mb-2">
            <%= f.radio_button :address_status, 2 %>
            <strong>新しいお届け先</strong></br>
          </h6>
          <div class="address-info">
            <div class="col mb-3">
              <%= f.label :"郵便番号(ハイフンなし)" %>
              <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %>
            </div>
            <div class="col mb-3">
              <%= f.label :"住所" %>
              <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
            </div>
            <div class="col mb-3">
              <%= f.label :"宛名" %>
              <%= f.text_field :name, placeholder: "令和道子", class: "form-control" %>
            </div>
          </div>
        </div>
        <%= f.submit "確認画面へ進む", class: "btn btn-lg btn-outline-primary mb-3" %>
      <% end %>
    </div>
  </div>
  <div class="container p-5">
  </div>
</div>

