<!DOCTYPE html>
<html>
  <head>
    <title>JJJ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8f0be0a856.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column j-100">
    <header class="sticky-top shadow-sm">
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">コンテナ</a>
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav">
            <% if customer_signed_in? %>
              <li class="nav-item">
                <a class="nav-link active">マイページ</a>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", products_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <a class="nav-link">カート</a>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
              </li>
            <!--adminsの定義 start-->
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "商品一覧", admin_products_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "注文履歴一覧", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンル一覧", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
              </li>
            <!--adminsの定義　finish-->
            <% else %>
              <li class="nav-item">
                  <%= link_to "About", public_home_about_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", products_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="検索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0">検索</button>
          </form>
        </div>
      </div>
     </nav>
    </header>
      <main class="main main-raised">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </main>

    <footer class="fixed-bottom footer mt-auto py-3 ">
     <div class="container">
       <span class="text-muted">@Nagano cake</span>
     </div>
    </footer>
  </body>
</html>
